@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #000;
}


/************* HEADER *************/

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;

    height: 7.2rem;
    padding: 0 9.6rem;
}

.logo{
    height: 4.8rem;
    margin-top: -1.2rem;
}

.logo:hover{
    cursor: pointer;
}

.main-nav-list{
    list-style: none;
    display: flex;
    gap: 3.2rem;
    align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited{
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: 1.8rem;
    transition: all .3s;
}

.main-nav-link:hover,
.main-nav-link:active{
    color: #db5315;
}

.search{
    height: 3.6rem;
}

.banner{
    width: 100%;
    height: 100%;
}

/*************** DESIGN ******************/
.design{
    width: 100%;
    height: 100vh;
    background-image: url('/img/banner.jpg');
    animation: move;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    position: relative;
}

.design-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.6rem;
    z-index: 1;
    animation: moves;
    animation-duration: 2s;
    position: relative;
}

.color-overlay{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right,#db5315, #f6ce4a);
    opacity: .7;
    position: absolute;
    animation: moves;
    animation-duration: 2s;
}

.title-h2{
    font-size: 3.2rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
}

.title-h1{
    color: #fff;
    font-size: 9.6rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5rem;
}

.btn-contact{
    height: 4.5rem;
    width: 15rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 2rem;
}

@keyframes moves {
    0%{
        left: -100%;
    }
    100%{
        left: 0;
    }
}


/************************ ABOUT ****************************/


/****************** SECOND SECTION *************/

.about-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
   
    align-items: center;
    margin: 5rem 0;
}

.heading-secondary{
    margin: 6rem 0 4rem;
    font-size: 2.4rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
}

.about-text{
    width: 45%;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin: 2rem 0;
    
}

.offer{
    display: flex;
    flex-direction: row;
}

.about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.helper{
    height: 16rem;
    width: 16rem;
    border: 1px solid black;
    border-radius: 8rem;
    position: relative;
    margin: 4rem 0;
}

.helper:hover{
    cursor: pointer;
    color: #fff;
    background-color: #db5315;
    border: 1px solid #fff;
}

.about-us-icon{
    height: 8rem;
    width: 8rem;
    position: absolute;
    top: 20%;
    left: 25%;
}

.about-us-text{
    text-align: center;
    width: 70%;
    line-height: 2.4rem;
}

.heading-tertionary{
    font-size: 2.2rem;
    letter-spacing: 0.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.line {
    height: 5px;
    width: 10%;
    margin: 5rem 0;
    border: none;
    background: linear-gradient(to right, #ff4500, #ffff00);
    margin-bottom: 2rem;
}


/****************************** PORTOFOLIO ************************/

.porotofolio-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.images{
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
}

.images-left{
    display: flex;
    flex-direction: row;
    width: 50%;
}

.images-left-1,
.images-left-2{
    width: 50%;
    display: flex;
    flex-direction: column;
}


.prvi{
    height: 70%;
    
}

.drugi{
    height: 30%;
}

.treci{
    height: 40%;
}

.cetvrti{
    height: 60%;
}

.images-right{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.images-right-top{
    height: 40%;
}

.images-right-bottom{
    display: flex;
    flex-direction: row;
    height: 60%;
}

.peti{
    width: 100%;
    height: 100%;
}

.images-right-bottom-left{
    width: 100%;
}

.sesti{
    height: 100%;
    width: 100%;
}

.images-right-bottom-right{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sedam{
    height: 50%;
    width: 100%;
}

.osam{
    height: 50%;
    width: 100%;
}

/******************* COUNTER ****************/

.counter{
    height: 25rem;
    background-color: #db5315;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20rem;
}

.counter-info{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 2rem;
}

.counter-number{
    color: #fff;
    font-weight: 600;
    font-size: 5rem;
    letter-spacing: .5rem;
}

.counter-text{
    color: #fff;
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
}

/**********************************/


.blog-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 5rem 0 6rem;
}

.blog-header{
    margin: 3rem 0;
}

.blog-title {
    width: 16rem;
    letter-spacing: 0.25rem;
    font-size: 2.6rem;
    padding: 0 0 3rem;
    text-align: center;
    border-bottom: 5px solid;
    border-image: linear-gradient(45deg, #ff4500, #ffff00) 1;
}

.blog-para p{
    font-size: 1.4rem;
    text-align: center;
    line-height: 3.5rem;
    padding-bottom: 2.5rem;
    margin-bottom: 1rem;
}

.blog-images{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.blog-images .blog-image{
    margin: 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.blog-date{
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    width: 8rem;
    height: 9rem;
    padding-top: 1.2rem;
    line-height: 3.5rem;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    background-color: #ff4500;
}

.blog-image img{
    width: 32rem;
    height: 28rem;
}

.blog-image .blog-desc{
    padding-top: 2.5rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.blog-image .blog-logo{
    padding: .35rem 0 2rem 0;
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.blog-image a{
    color: #ff4500;
    font-size: 1.2rem;
    text-decoration: none;
    padding: .5rem 0;

}

.blog-image a:hover{
   cursor: pointer;
   color: #fff;
   background-color: #ff4500;
}

/********************** TEAM *****************/

.team-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 5rem 0;
    background-color: rgb(251, 214, 214);
}

.team-header{
    margin: 5rem 0;
}

.team-title{
    width: 50rem;
    letter-spacing: 0.25rem;
    font-size: 2.6rem;
    padding: 3rem 0 3rem;
    text-align: center;
    text-transform: uppercase;
}

.team-images{
    width: 80%;
    padding: 3rem 10rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.team-image img{
    width: 90%;
    height: 100%;
}

.line {
    height: 5px;
    width: 15%;
    border: none;
    background: linear-gradient(to right, #ff4500, #ffff00);
    margin: auto;
}


/****************** CONTACT *********/

.contact-container,
.contact-inputs,
.contact-data,
.contact-data-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-container{
    margin: 6rem 0;
}

.contact-info,
.contact-data-all{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-title{
    width: 26rem;
    letter-spacing: 0.25rem;
    font-size: 2.6rem;
    padding: 0 0 3rem;
    text-align: center;
}

.contact-inputs{
    padding: 5rem;
}

.input{
  width: 60rem;
  height: 5rem;
  padding: 2rem;
  margin: 1rem 0;
  border: 1px solid black;
}

textarea{
    width: 60rem;
    padding: 2.5rem;
    margin: 1rem 0 2rem;
    border: 1px solid black;
}

.submit{
    margin: 1rem 0 2rem;
    width: 12rem;
    height: 4rem;

}

.contact-data-all{
  height: 12rem;
  align-items: flex-start;
}

.helper{
    height: 8rem;
    width: 8rem;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
    margin: 0 2rem;
}

.contact-data-icon img{
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 20%;
  left: 25%;
}

/************* FOOTER ***********/

.footer{
    background-color: #333;
    display: flex;
    flex-direction: column;
}

.footer-container{
    padding: 2rem 25rem;
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 5rem;
   /* justify-content: space-between; */
}

.footer-one{
    display: flex;
    flex-direction: column;
    width: 35%;
    align-items: baseline;
    justify-content: space-between;
    margin-right: 5rem;
}

.footer-title{
    font-size: 1.6rem;
    margin: 1rem 0;
    text-transform: uppercase;
    color: #db5315;
    letter-spacing: .1rem;
}

.footer-title span{
    color: #fff;
}

.footer-text{
    margin: 1rem 0;
    color: #fff;
    line-height: 1.5rem;
    text-align: justify;
}

.footer-logo{
    height: 4rem;
}

.footer-two{
    width: 30%;
}

.footer-list{
    list-style: none;
}

.footer-list-item{
    text-transform: uppercase;
    margin: 2rem 0;
}

.footer-list-item a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    letter-spacing: .1rem;
}

.footer-list-item a:hover{
    color: #db5315;
}

.footer-three{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.footer-three input[type=email]{
    margin: 2rem 0;
    padding: 2rem 1rem;
    color: #fff;
    background-color: #333;
    border: 2px solid #fff;
    height: 4rem;
}

.footer-three input[type=submit]{
    width: 50%;
    height: 3rem;
}

.copyright-container{
    background-color: #000;
    color: #fff;
    height: 5rem;
    padding: 0 25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.copyright-icons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

